#profile-content {
    align-content: center;
    padding: 1vmin;
    padding-bottom: 50vmin;
}

#profile-images {
    width: 50vmin;
    border-radius: 50%;
    border: 2px solid #253239;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile-title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}
