#add-post {
    align-items: center;
    padding-bottom: 34vmin;
}

#create-post-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.select-wrapper input.select-dropdown {
    color: white;
    margin-left: 167%;
}

.select-wrapper .caret {
    color: white;
    left: 250%;
}
.mat-in {
    margin-left: 15% !important;
}