.links {
    align-content: center;
    padding: 1vmin;
}

.auth {
    float: right;
    padding: 1vmin;
}

.App {
    background-color: #506169;
}

.card {
    background-color: #253239 !important;
}

.post-game {
    font-family: 'Press Start 2P', cursive;
}